table {
    border-collapse: collapse;
    line-height: 1.1;
}
th {
    font-size: 0.9em;
    padding: 10px;
    border: 2px solid;
}
td {
    font-size: 0.8em;
    padding: 5px 7px;
    border: 1px solid;
}